<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/pintuer2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/wangEditor.css}">
    <script type="text/javascript" th:src="@{../js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../js/pintuer.js}"></script>
    <script type="text/javascript" src="../js/wangEditor.min.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>新建问题</strong></div>
    <div class="body-content">
        <form method="post" id="form" class="form-x" th:action="@{addBug(action='add')}">
            <input type="hidden" name="bugProject" th:value="${projectId}"/>
            <div class="form-group">
                <div class="label">
                    <label>问题名称：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="bugName"
                           data-validate="required:请输入问题名"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>问题类型：</label>
                </div>
                <div class="field">
                    <select name="bugType"
                            style="padding:10px 10px; border:1px solid #ddd;width: 12.5%;">
                        <option th:each="bugType : ${bugTypes}" th:value="${bugType.id}"
                                th:text="${bugType.name}"></option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>问题描述：</label>
                </div>
                <div class="field">
                    <textarea class="input" id="bugDescribe" name="bugDescribe"
                              style="display: none"></textarea>
                    <div id="editor"></div>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>问题状态：</label>
                </div>
                <div class="field">
                    <select name="bugStatus"
                            style="padding:10px 10px; border:1px solid #ddd;width: 12.5%;">
                        <option th:each="bugStat : ${bugStatus}" th:value="${bugStat.id}"
                                th:text="${bugStat.name}"></option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>问题优先级：</label>
                </div>
                <div class="field">
                    <select name="bugPriority"
                            style="padding:10px 10px; border:1px solid #ddd;width: 12.5%;">
                        <option th:each="bugPriority : ${bugPrioritys}" th:value="${bugPriority.id}"
                                th:text="${bugPriority.name}"></option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>问题指派给：</label>
                </div>
                <div class="field">
                    <select name="bugUser"
                            style="padding:10px 10px; border:1px solid #ddd;width: 12.5%;">
                        <option th:each="member : ${members}" th:value="${member.username}"
                                th:text="${member.cname}"></option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>计划完成于：</label>
                </div>
                <div class="field">
                    <input name="bugCompletetime" class="input w50" type="date"
                           data-validate="required:请输入完成时间"/>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="button" onclick="post()"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgShowBase64 = true;
    // editor.customConfig.uploadImgServer = '/uploadImg';
    editor.create();

    function post() {
        $('#bugDescribe').val(editor.txt.html());
        $('#form').submit();
    }
</script>
</html>