<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/pintuer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}">
    <script type="text/javascript" th:src="@{../js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../js/pintuer.js}"></script>
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1><img src="images/y.jpg" class="radius-circle rotate-hover" height="50" alt=""/>Bug缺陷管理中心</h1>
    </div>
    <div class="head-l">
        <span class="button button-little bg-blue">
            <span class="icon-home"></span>
            <span th:text="${realName}+'，你好'"></span>
        </span> &nbsp;&nbsp;
        <a class="button button-little bg-red" th:href="@{/logout}">
            <span class="icon-power-off"></span>
            退出登录
        </a>
    </div>
</div>
<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span>基本信息</h2>
    <ul style="display:block">
        <li><a th:href="@{project/myProject}" target="right"><span class="icon-caret-right"></span>我的项目</a></li>
        <li><a th:href="@{password(action='show')}" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
        <li><a th:href="@{project/projectBug}" target="right"><span class="icon-caret-right"></span>我的任务</a></li>
        <li><a th:href="@{project/addProject(action='show')}" target="right"><span class="icon-caret-right"></span>新建项目</a>
        </li>
        <li><a href="book.html" target="right"><span class="icon-caret-right"></span>留言管理</a></li>
        <li><a href="column.html" target="right"><span class="icon-caret-right"></span>栏目管理</a></li>
    </ul>
    <div th:if="${#strings.contains(session.ALLROLES,'ADMIN')}">
        <h2><span class="icon-pencil-square-o"></span>系统管理</h2>
        <ul>
            <li><a th:href="@{addUser}" target="right"><span class="icon-caret-right"></span>新增用户</a></li>
            <li><a href="add.html" target="right"><span class="icon-caret-right"></span>添加内容</a></li>
            <li><a href="cate.html" target="right"><span class="icon-caret-right"></span>分类管理</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".leftnav h2").click(function () {
            $(this).next().slideToggle(200);
            $(this).toggleClass("on");
        })
        $(".leftnav ul li a").click(function () {
            $("#a_leader_txt").text($(this).text());
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })
    });
</script>
<ul class="bread">
    <li><a href="##" target="right" class="icon-home"> 首页</a></li>
    <li><b>当前语言：</b><span style="color:red;">中文</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
</ul>
<div class="admin">
    <iframe scrolling="auto" rameborder="0" src="" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
</div>
</body>
</html>