<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/pintuer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}">
    <script type="text/javascript" th:src="@{../js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../js/pintuer.js}"></script>
    <style>
        a {
            font-weight: bold;
            color: #467aa7;
        }
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 我的任务</strong></div>
    <table class="table table-hover text-center">
        <tr>
            <th width="5%">序号</th>
            <th width="5%">类型</th>
            <th width="10%">状态</th>
            <th width="10%">优先级</th>
            <th width="20%">主题</th>
            <th width="10%">指派给</th>
            <th width="10%">更新于</th>
            <th width="10%">最近更新人</th>
            <th width="10%">开始日期</th>
        </tr>
        <tr th:each="bugInfo:${bugInfos}">
            <td th:text="${bugInfo.bugId}"></td>
            <td th:text="${bugInfo.typeName}"></td>
            <td th:text="${bugInfo.status}"></td>
            <td th:text="${bugInfo.priorityName}"></td>
            <td><a href="#" th:text="${bugInfo.name}"></a></td>
            <td th:text="${bugInfo.toUser}"></td>
            <td th:text="${#strings.substring(bugInfo.updateTime,0,16)}"></td>
            <td th:text="${bugInfo.updater}"></td>
            <td th:text="${#strings.substring(bugInfo.beginTime,0,10)}"></td>
        </tr>
    </table>
</div>
</body>
</html>