<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>项目信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/pintuer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}">
    <script type="text/javascript" th:src="@{../js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../js/pintuer.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/projectinfo.css}">
</head>
<body>
<div class="left">
    <div class="issues box">
        <h3 th:text="${projectName}"></h3>
        <hr/>
        <h3 class="icon icon-issue">
            <a th:href="@{../project/addBug(action='show',projectId=${projectId})}">新建问题</a>
        </h3>
        <table class="list issue-report">
            <thead>
            <tr>
                <th></th>
                <th>新问题</th>
                <th>打开</th>
                <th>修复</th>
                <th>拒绝</th>
                <th>关闭</th>
                <th>延期</th>
                <th>合计</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="name">页面</td>
                <td th:text="${pageBugVo.newCount}"></td>
                <td th:text="${pageBugVo.openCount}"></td>
                <td th:text="${pageBugVo.fixedCount}"></td>
                <td th:text="${pageBugVo.rejectedCount}"></td>
                <td th:text="${pageBugVo.closeCount}"></td>
                <td th:text="${pageBugVo.deferredCount}"></td>
                <td class="total" th:text="${pageBugVo.countAll}"></td>
            </tr>
            <tr>
                <td class="name">Bug</td>
                <td th:text="${bugBugVo.newCount}"></td>
                <td th:text="${bugBugVo.openCount}"></td>
                <td th:text="${bugBugVo.fixedCount}"></td>
                <td th:text="${bugBugVo.rejectedCount}"></td>
                <td th:text="${bugBugVo.closeCount}"></td>
                <td th:text="${bugBugVo.deferredCount}"></td>
                <td class="total" th:text="${bugBugVo.countAll}"></td>
            </tr>
            <tr>
                <td class="name">数据</td>
                <td th:text="${dataBugVo.newCount}"></td>
                <td th:text="${dataBugVo.openCount}"></td>
                <td th:text="${dataBugVo.fixedCount}"></td>
                <td th:text="${dataBugVo.rejectedCount}"></td>
                <td th:text="${dataBugVo.closeCount}"></td>
                <td th:text="${dataBugVo.deferredCount}"></td>
                <td class="total" th:text="${dataBugVo.countAll}"></td>
            </tr>
            <tr>
                <td class="name">需求</td>
                <td th:text="${demandBugVo.newCount}"></td>
                <td th:text="${demandBugVo.openCount}"></td>
                <td th:text="${demandBugVo.fixedCount}"></td>
                <td th:text="${demandBugVo.rejectedCount}"></td>
                <td th:text="${demandBugVo.closeCount}"></td>
                <td th:text="${demandBugVo.deferredCount}"></td>
                <td class="total" th:text="${demandBugVo.countAll}"></td>
            </tr>
            <tr>
                <td class="name">疑难杂症</td>
                <td th:text="${incurableBugVo.newCount}"></td>
                <td th:text="${incurableBugVo.openCount}"></td>
                <td th:text="${incurableBugVo.fixedCount}"></td>
                <td th:text="${incurableBugVo.rejectedCount}"></td>
                <td th:text="${incurableBugVo.closeCount}"></td>
                <td th:text="${incurableBugVo.deferredCount}"></td>
                <td class="total" th:text="${incurableBugVo.countAll}"></td>
            </tr>
            </tbody>
        </table>
        <p>
            <a th:href="@{../project/projectBug(projectId=${projectId})}">查看所有问题</a>
            <a th:href="@{../project/projectBug(projectId=${projectId},isMe='yes')}">查看所有指给我的问题</a>
        </p>

    </div>
    <div class="spent_time box">
        <h3 class="icon icon-time">耗时</h3>
        <p th:text="${timeConsuming}"></p>
    </div>
</div>
<div class="right">
    <div class="members box">
        <h3 class="icon icon-groupnonmember"><a th:href="@{../project/addMember(action='show',projectId=${projectId})}">成员</a>
        </h3>
        <p>
            <span><b>Manager:</b></span>
            <span th:text="${managerStr}"></span>
        </p>
        <p>
            <span><b>Developer:</b></span>
            <span th:text="${developerStr}"></span>
        </p>
        <p><span><b>Reporter:</b></span>
            <span th:text="${testStr}"></span>
        </p>
    </div>
</div>
</body>
<script>
</script>
</html>